p{
    text-align: center;
}

.flex-box{
    display: flex;
    width: 300px;
    border-radius: 10%;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 30px 30px;
    margin-left: 700px;
    margin-top: 300px;
}

.pika{
    width: 100px;
    border-radius: 50%;
}
