/* Add your code in each class */
.container {
  background-color: rgb(232, 232, 110);
  width: 500px;
  height: 200px;
  overflow: auto;
}
.head {
  font-family: monospace;
  background-color: brown;
  text-align: center;
}

.row {
  /* .row is used in ./index.js not in the html filee */
}

/* This is a gift - Does not need editing */
/* Learn more about CSS Pseudo Classes https://www.w3schools.com/css/css_pseudo_classes.asp*/
.row:hover {
  text-decoration: line-through;
  cursor: pointer;
}
